body{
  width: 500vw;
  height: 90vh;
  background-color: black;
  overflow-x: scroll;
  overflow-y: hidden;
}

.App{
  display: flex;
  flex-direction: row;
}

#educationtitle{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 320px;
  position: relative;
  top: 100px;
  width: 100vw;
  text-align: center;
}

#namelogo{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 360px;
  position: relative;
  top: 100px;
}

#scrollarrow{
  color: white;
  position: absolute;
  right: 0;
  margin: 10px;
  font-size: 48px;
  top: 750px;
}

#chronobox{
  width: 50vw;
  height: 1000px;
  position: relative;
  left: 25%;
  top: 100px;
}

#box3{
  width: 100vw;
  height: 100vh;
}

#box1{
  background-image: url("/public/background.jpg");
  background-size: cover;
  height: 70vh;
  width: 100vw;
}

#box2{
  width: 100vw;
  display: flex;
  flex-direction: row;
}

#bio{
  color: white;
  position: relative;
  top: 300px;
  left: -100px;
}

#bio p{
  font-family: "Playfair Display", serif;
  margin-top: 10px;
  line-height: 2;
}

h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
}
