#navigationbar{
    height: 10vh;
    width: 100vw;
    background-color: transparent;
    position: fixed;
}

#linkedInIcon:hover{
    fill: #027FFE;
    height: 25px;
}

#linkedInIcon{
    fill: white;
    height: 25px;
}

#volumeicon{
    color: white;
}

#navlogo{
    font-weight: 400;
    font-style: normal;
    color: white;
    text-transform: lowercase;
    height: 10vh;
    width: 20vw;
}

#navlist{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.navitems{
    color: white;
}
